body{
    background: url('https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1920&h=1282&q=80');
}

header{
    display: flex;      
    justify-content: center;    
    height: 150px;
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: wheat ;
    background-image: linear-gradient( rgb(150, 200, 33), #265718);
}


#search{
    height: 25px;
}
.section-label{
    font-size: 50px;
    color: white;
}

#Tasks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    font-family: 'Pacifico', cursive;
    background-blend-mode: lighten;
}
#img{
    /* display: flex;
    justify-content: center; */
    margin-left: 25%;
    margin-right: 25%;
   
}

.task-status{
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 30%;
    color: wheat;
    background: linear-gradient(rgb(26, 100, 26), transparent 95%),
    url("https://i.pinimg.com/originals/79/27/70/792770ae7e555b2c9558961b78b44fff.png");
}

.tasksDesign{
    color: rgb(235, 235, 235);
    border-color: wheat;
    background: linear-gradient(rgb(26, 100, 26), transparent 95%);
    
}

.removeTaskButton{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
    flex-direction:column-reverse;
    font-size: 30px;
    color: red;
    background-color: none;
    border-color: none;
    cursor: pointer;
    width: 10%;
}
.task{
    font-size:35px;
    text-align: center;
    border-style: solid;
    width: 90%;
    margin-top: 10px;
    list-style-type: none;
    cursor: pointer;
}
.buttontask{
    cursor: pointer;
    height: 25px;
    color: rgb(236, 236, 236);
    border-radius: 15px;
    box-shadow: inset 0 0 8px #f9f8fc;
    font-size: 20px;
    background: linear-gradient(rgb(26, 100, 26), transparent 100%);
    background-color: burlywood;
} 
.inputtask{
    margin-bottom: 5%;
    width: 40%;
}

#magnifying-glass{
    font-size: 20px;
    color: wheat;
    cursor: pointer;
}

 #img{
     border-radius: 50%;  
}


